*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
   
}
body{
    width: 100%;
    background: url(../../images/bg-social.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.container{
    width: 100%;
    max-width: 1140px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: auto;
    margin-left: auto;
}
a{
    text-decoration: none;
    
}
ul,ol,li{
list-style: none;

}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

@media screen and (max-width:768px) {
    .container{
        width: 100%;
        max-width: 729px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
      
}
@media screen and (max-width:375px) {
    .container{
        width: 100%;
        max-width: 353px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    
}