/*  color */ 

$color-primary: #512051;
$color-white:   #FFFFFF;
$color-pink: #EE69A4;
$color-block-bg:#F7F2F7;
$color-secondary: #927B91;

/*  font family */
$font-family: 'League Spartan';

$font-size-h1: 5.6rem;

$font-size-pbig: 1.9rem;
$font-size-psamll: 1.7rem;
